sudo: false

matrix:
  include:
    # Linux
    - language: java
      os:
        - linux

      jdk:
        - openjdk11

      before_cache:
        - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
        - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

      cache:
        directories:
          - $HOME/.m2
          - $HOME/.gradle/caches/
          - $HOME/.gradle/wrapper/

    # macOS
    - language: java
      os:
        - osx

      jdk:
        - openjdk11

      before_cache:
        - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
        - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

      cache:
        directories:
          - $HOME/.m2
          - $HOME/.gradle/caches/
          - $HOME/.gradle/wrapper/

    # Windows
    - language: shell
      os: windows
      before_script: choco install openjdk --version 11.0.1
      script: ./gradlew check
