.. role:: normal

.. raw:: pdf

   Spacer 0 1in 

{% if title: %}

.. cssclass:: title

{{title}}

{% endif %}

.. raw:: pdf

   Spacer 0 1in

.. cssclass:: author

:normal:`{{date}}`

.. raw:: pdf

   Spacer 0 4in

.. image:: images/perfectsense.png
   :width: 320px
   :height: 35px
   :scale: 200%

.. raw:: pdf

   PageBreak

